In [127]:
import pandas as pd
import numpy as  np

In [128]:
df=pd.read_csv("C:\\Users\\admin\\Downloads\\data.csv - data.csv.csv.zip")
df

,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1,Classification
0,48,23.500000,70,2.707,0.467409,8.8071,9.702400,7.99585,417.114,1
1,83,20.690495,92,3.115,0.706897,8.8438,5.429285,4.06405,468.786,1
2,82,23.124670,91,4.498,1.009651,17.9393,22.432040,9.27715,554.697,1
3,68,21.367521,77,3.226,0.612725,9.8827,7.169560,12.76600,928.220,1
4,86,21.111111,92,3.549,0.805386,6.6994,4.819240,10.57635,773.920,1
...,...,...,...,...,...,...,...,...,...,...
111,45,26.850000,92,3.330,0.755688,54.6800,12.100000,10.96000,268.230,2
112,62,26.840000,100,4.530,1.117400,12.4500,21.420000,7.32000,330.160,2
113,65,32.050000,97,5.730,1.370998,61.4800,22.540000,10.33000,314.050,2
114,72,25.590000,82,2.820,0.570392,24.9600,33.750000,3.27000,392.460,2
115,86,27.180000,138,19.910,6.777364,90.2800,14.110000,4.35000,90.090,2

In [129]:
df.describe()

,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1
count,116.000000,116.000000,116.000000,116.000000,116.000000,116.000000,116.000000,116.000000,116.000000
mean,57.301724,27.582111,97.793103,10.012086,2.694988,26.615080,10.180874,14.725966,534.647000
std,16.112766,5.020136,22.525162,10.067768,3.642043,19.183294,6.843341,12.390646,345.912663
min,24.000000,18.370000,60.000000,2.432000,0.467409,4.311000,1.656020,3.210000,45.843000
25%,45.000000,22.973205,85.750000,4.359250,0.917966,12.313675,5.474283,6.881763,269.978250
50%,56.000000,27.662416,92.000000,5.924500,1.380939,20.271000,8.352692,10.827740,471.322500
75%,71.000000,31.241442,102.000000,11.189250,2.857787,37.378300,11.815970,17.755207,700.085000
max,89.000000,38.578759,201.000000,58.460000,25.050342,90.280000,38.040000,82.100000,1698.440000

In [130]:
df.head()

,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1,Classification
0,48,23.500000,70,2.707,0.467409,8.8071,9.702400,7.99585,417.114,1
1,83,20.690495,92,3.115,0.706897,8.8438,5.429285,4.06405,468.786,1
2,82,23.124670,91,4.498,1.009651,17.9393,22.432040,9.27715,554.697,1
3,68,21.367521,77,3.226,0.612725,9.8827,7.169560,12.76600,928.220,1
4,86,21.111111,92,3.549,0.805386,6.6994,4.819240,10.57635,773.920,1

In [131]:
df.tail()

,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1,Classification
111,45,26.85,92,3.33,0.755688,54.68,12.10,10.96,268.23,2
112,62,26.84,100,4.53,1.117400,12.45,21.42,7.32,330.16,2
113,65,32.05,97,5.73,1.370998,61.48,22.54,10.33,314.05,2
114,72,25.59,82,2.82,0.570392,24.96,33.75,3.27,392.46,2
115,86,27.18,138,19.91,6.777364,90.28,14.11,4.35,90.09,2

In [132]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 116 entries, 0 to 115
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             116 non-null    int64
 1   BMI             116 non-null    float64
 2   Glucose         116 non-null    int64
 3   Insulin         116 non-null    float64
 4   HOMA            116 non-null    float64
 5   Leptin          116 non-null    float64
 6   Adiponectin     116 non-null    float64
 7   Resistin        116 non-null    float64
 8   MCP.1           116 non-null    float64
 9   Classification  116 non-null    object
dtypes: float64(7), int64(2), object(1)
memory usage: 9.2+ KB

In [133]:
df.dtypes

Age                 int64
BMI               float64
Glucose             int64
Insulin           float64
HOMA              float64
Leptin            float64
Adiponectin       float64
Resistin          float64
MCP.1             float64
Classification     object
dtype: object

In [134]:
df.isnull().sum()

Age               0
BMI               0
Glucose           0
Insulin           0
HOMA              0
Leptin            0
Adiponectin       0
Resistin          0
MCP.1             0
Classification    0
dtype: int64

In [135]:
print(df.isna().sum())

Age               0
BMI               0
Glucose           0
Insulin           0
HOMA              0
Leptin            0
Adiponectin       0
Resistin          0
MCP.1             0
Classification    0
dtype: int64

In [136]:
print(df.groupby(['Age']).size())

Age
24    1
25    1
28    1
29    2
32    1
34    3
35    2
36    2
38    2
40    2
41    1
42    2
43    3
44    4
45    7
46    3
47    1
48    4
49    5
50    1
51    4
52    1
53    1
54    3
55    1
57    1
58    1
59    2
60    2
61    1
62    2
64    2
65    3
66    5
67    1
68    3
69    5
71    3
72    3
73    2
74    1
75    4
76    4
77    2
78    1
81    1
82    2
83    1
85    2
86    3
89    1
dtype: int64

In [137]:
print(df.notnull().sum())

Age               116
BMI               116
Glucose           116
Insulin           116
HOMA              116
Leptin            116
Adiponectin       116
Resistin          116
MCP.1             116
Classification    116
dtype: int64

In [138]:
df.columns

Index(['Age', 'BMI', 'Glucose', 'Insulin', 'HOMA', 'Leptin', 'Adiponectin',
       'Resistin', 'MCP.1', 'Classification'],
      dtype='object')

In [139]:
df.rename(columns={'BMI':'BODYMASSINDEX'})

,Age,BODYMASSINDEX,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1,Classification
0,48,23.500000,70,2.707,0.467409,8.8071,9.702400,7.99585,417.114,1
1,83,20.690495,92,3.115,0.706897,8.8438,5.429285,4.06405,468.786,1
2,82,23.124670,91,4.498,1.009651,17.9393,22.432040,9.27715,554.697,1
3,68,21.367521,77,3.226,0.612725,9.8827,7.169560,12.76600,928.220,1
4,86,21.111111,92,3.549,0.805386,6.6994,4.819240,10.57635,773.920,1
...,...,...,...,...,...,...,...,...,...,...
111,45,26.850000,92,3.330,0.755688,54.6800,12.100000,10.96000,268.230,2
112,62,26.840000,100,4.530,1.117400,12.4500,21.420000,7.32000,330.160,2
113,65,32.050000,97,5.730,1.370998,61.4800,22.540000,10.33000,314.050,2
114,72,25.590000,82,2.820,0.570392,24.9600,33.750000,3.27000,392.460,2
115,86,27.180000,138,19.910,6.777364,90.2800,14.110000,4.35000,90.090,2

In [140]:
pd.melt(df)

            variable value
0                Age    48
1                Age    83
2                Age    82
3                Age    68
4                Age    86
...              ...   ...
1155  Classification     2
1156  Classification     2
1157  Classification     2
1158  Classification     2
1159  Classification     2

[1160 rows x 2 columns]

In [141]:
df.drop_duplicates()

,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1,Classification
0,48,23.500000,70,2.707,0.467409,8.8071,9.702400,7.99585,417.114,1
1,83,20.690495,92,3.115,0.706897,8.8438,5.429285,4.06405,468.786,1
2,82,23.124670,91,4.498,1.009651,17.9393,22.432040,9.27715,554.697,1
3,68,21.367521,77,3.226,0.612725,9.8827,7.169560,12.76600,928.220,1
4,86,21.111111,92,3.549,0.805386,6.6994,4.819240,10.57635,773.920,1
...,...,...,...,...,...,...,...,...,...,...
111,45,26.850000,92,3.330,0.755688,54.6800,12.100000,10.96000,268.230,2
112,62,26.840000,100,4.530,1.117400,12.4500,21.420000,7.32000,330.160,2
113,65,32.050000,97,5.730,1.370998,61.4800,22.540000,10.33000,314.050,2
114,72,25.590000,82,2.820,0.570392,24.9600,33.750000,3.27000,392.460,2
115,86,27.180000,138,19.910,6.777364,90.2800,14.110000,4.35000,90.090,2

In [142]:
df.drop('HOMA',axis=1)

,Age,BMI,Glucose,Insulin,Leptin,Adiponectin,Resistin,MCP.1,Classification
0,48,23.500000,70,2.707,8.8071,9.702400,7.99585,417.114,1
1,83,20.690495,92,3.115,8.8438,5.429285,4.06405,468.786,1
2,82,23.124670,91,4.498,17.9393,22.432040,9.27715,554.697,1
3,68,21.367521,77,3.226,9.8827,7.169560,12.76600,928.220,1
4,86,21.111111,92,3.549,6.6994,4.819240,10.57635,773.920,1
...,...,...,...,...,...,...,...,...,...
111,45,26.850000,92,3.330,54.6800,12.100000,10.96000,268.230,2
112,62,26.840000,100,4.530,12.4500,21.420000,7.32000,330.160,2
113,65,32.050000,97,5.730,61.4800,22.540000,10.33000,314.050,2
114,72,25.590000,82,2.820,24.9600,33.750000,3.27000,392.460,2
115,86,27.180000,138,19.910,90.2800,14.110000,4.35000,90.090,2

In [143]:
print(type('BMI'))

<class 'str'>

In [144]:
df.BMI.astype(int)

0      23
1      20
2      23
3      21
4      21
       ..
111    26
112    26
113    32
114    25
115    27
Name: BMI, Length: 116, dtype: int32

In [145]:
#changing the categorial values to its numeriacl reperesentation ,i.e. dummy values.
pd.get_dummies(df)
pd.get_dummies(df['Age'])

,24,25,28,29,32,34,35,36,38,40,...,75,76,77,78,81,82,83,85,86,89
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
112,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
113,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
114,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
115,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False

In [146]:
#DATA NORMALISATION

In [147]:
from sklearn.preprocessing import MinMaxScaler

data=df.iloc[ : ,2].values
data_reshaped=data.reshape(-1,1)
scaler=MinMaxScaler()
model=scaler.fit(data_reshaped)
scaled_data=model.transform(data_reshaped)
print(scaled_data)

[[0.07092199]
 [0.22695035]
 [0.21985816]
 [0.12056738]
 [0.22695035]
 [0.22695035]
 [0.12056738]
 [0.41134752]
 [0.26241135]
 [0.16312057]
 [0.12765957]
 [0.15602837]
 [0.15602837]
 [0.19858156]
 [0.10638298]
 [0.18439716]
 [0.17021277]
 [0.17730496]
 [0.24822695]
 [0.19148936]
 [0.18439716]
 [0.19148936]
 [0.17021277]
 [0.17021277]
 [0.21276596]
 [0.16312057]
 [0.32624113]
 [0.21276596]
 [0.21276596]
 [0.14184397]
 [0.29078014]
 [0.29078014]
 [0.19148936]
 [0.20567376]
 [0.12056738]
 [0.13475177]
 [0.15602837]
 [0.29078014]
 [0.30496454]
 [0.11347518]
 [0.16312057]
 [0.24113475]
 [0.17730496]
 [0.23404255]
 [0.29787234]
 [0.21276596]
 [0.24113475]
 [0.        ]
 [0.20567376]
 [0.25531915]
 [0.35460993]
 [0.17730496]
 [0.29787234]
 [0.09929078]
 [0.24113475]
 [0.22695035]
 [0.23404255]
 [0.29787234]
 [0.23404255]
 [0.22695035]
 [0.24822695]
 [0.36879433]
 [0.12765957]
 [0.30496454]
 [0.26950355]
 [0.39716312]
 [0.18439716]
 [0.26950355]
 [0.19858156]
 [0.38297872]
 [0.22695035]
 [0.32624113]
 [0.31914894]
 [0.31914894]
 [0.18439716]
 [0.29078014]
 [0.22695035]
 [0.30496454]
 [1.        ]
 [0.26241135]
 [0.12056738]
 [0.28368794]
 [0.27659574]
 [0.36879433]
 [0.26950355]
 [0.17730496]
 [0.21276596]
 [0.96453901]
 [0.9858156 ]
 [0.56028369]
 [0.4822695 ]
 [0.28368794]
 [0.19148936]
 [0.5248227 ]
 [0.5035461 ]
 [0.07092199]
 [0.27659574]
 [0.30496454]
 [0.31205674]
 [0.34042553]
 [0.19858156]
 [0.20567376]
 [0.26241135]
 [0.16312057]
 [0.24822695]
 [0.5248227 ]
 [0.21276596]
 [0.22695035]
 [0.5035461 ]
 [0.65248227]
 [0.41843972]
 [0.22695035]
 [0.28368794]
 [0.26241135]
 [0.15602837]
 [0.55319149]]

In [148]:
print(data)

[ 70  92  91  77  92  92  77 118  97  83  78  82  82  88  75  86  84  85
  95  87  86  87  84  84  90  83 106  90  90  80 101 101  87  89  77  79
  82 101 103  76  83  94  85  93 102  90  94  60  89  96 110  85 102  74
  94  92  93 102  93  92  95 112  78 103  98 116  86  98  88 114  92 106
 105 105  86 101  92 103 201  97  77 100  99 112  98  85  90 196 199 139
 128 100  87 134 131  70  99 103 104 108  88  89  97  83  95 134  90  92
 131 152 119  92 100  97  82 138]

In [149]:
from sklearn.preprocessing import StandardScaler

# Assuming df is your DataFrame and you want to scale the fourth column
data = df.iloc[:, 3].values  # Extracting the values of thefourth  column

# Reshape the data to a 2D array
data_reshaped = data.reshape(-1, 1)

# Create the StandardScaler object
scaler = StandardScaler()

# Fit the scaler to the data
model = scaler.fit(data_reshaped)

# Transform the data
scaled_data = model.transform(data_reshaped)

print(scaled_data)

[[-0.72873938]
 [-0.68803819]
 [-0.55007314]
 [-0.67696507]
 [-0.6447433 ]
 [-0.67696507]
 [-0.53091965]
 [-0.35335075]
 [-0.66459511]
 [-0.5047831 ]
 [-0.65272393]
 [-0.4338553 ]
 [-0.59077433]
 [-0.38956283]
 [-0.42198412]
 [-0.24531305]
 [-0.71257861]
 [ 0.80453811]
 [-0.55715595]
 [ 0.40041924]
 [-0.56533609]
 [-0.54688089]
 [-0.4191909 ]
 [-0.5622436 ]
 [-0.44642478]
 [-0.32442099]
 [-0.33010718]
 [-0.07652284]
 [-0.31873479]
 [-0.34137981]
 [ 0.55075425]
 [ 0.01625192]
 [-0.14326081]
 [ 1.3149988 ]
 [-0.61421741]
 [-0.41829308]
 [-0.58169637]
 [-0.43555118]
 [-0.48622815]
 [-0.61162371]
 [-0.46248579]
 [ 0.40480858]
 [-0.48034244]
 [-0.45709887]
 [-0.16680365]
 [-0.39604709]
 [-0.19284044]
 [-0.64883337]
 [ 0.0690238 ]
 [-0.55366443]
 [ 1.61596811]
 [-0.541893  ]
 [ 0.38306138]
 [-0.54388816]
 [ 0.22873605]
 [ 1.16586088]
 [-0.6996101 ]
 [-0.38028536]
 [-0.56344069]
 [-0.65142708]
 [-0.47395794]
 [-0.33210234]
 [-0.73542315]
 [-0.72544737]
 [-0.31424569]
 [-0.50977099]
 [-0.62668714]
 [-0.43016426]
 [-0.65761206]
 [ 0.58636779]
 [-0.6556169 ]
 [ 4.83305761]
 [-0.39724419]
 [-0.55785425]
 [ 2.68626961]
 [ 0.05415989]
 [ 0.66068735]
 [-0.56703197]
 [ 3.15223833]
 [ 1.19917999]
 [-0.68075587]
 [-0.03422553]
 [ 1.86197086]
 [ 0.03819864]
 [-0.58259419]
 [ 0.46256835]
 [-0.74539893]
 [ 4.17006722]
 [ 0.21447068]
 [ 0.65540019]
 [ 3.18046978]
 [ 0.80453811]
 [ 2.01509909]
 [ 1.48388877]
 [ 2.00691895]
 [-0.16121722]
 [-0.08021388]
 [-0.75617277]
 [ 0.81680832]
 [-0.120117  ]
 [-0.69831324]
 [-0.34796383]
 [ 0.04777539]
 [ 0.09346446]
 [ 0.2529772 ]
 [-0.43654876]
 [-0.52862522]
 [-0.42517637]
 [-0.18575764]
 [-0.29948153]
 [ 0.18933172]
 [-0.66659026]
 [-0.54688089]
 [-0.42717153]
 [-0.71746674]
 [ 0.98739417]]